snippet memP "memory profile code"
var memprofile = flag.String("memprofile", "", "write memory profile to this file")

flag.Parse()
${VISUAL}
if *memprofile != "" {
	f, err := os.Create(*memprofile)
	if err != nil {
		log.Fatal("could not create memory profile: ", err)
	}
	defer f.Close() // error handling omitted for example
	runtime.GC()    // get up-to-date statistics
	if err := pprof.WriteHeapProfile(f); err != nil {
		log.Fatal("could not write memory profile: ", err)
	}
}
endsnippet
