snippet h1 "header h1"
* $1
endsnippet

snippet h2 "header h2"
** $1
endsnippet

snippet h3 "header h3"
*** $1
endsnippet

snippet h4 "header h4"
**** $1
endsnippet

snippet h5 "header h5"
***** $1
endsnippet

snippet h6 "header h6"
****** $1
endsnippet

snippet ic "inline code"
\`$1${VISUAL}\`$0
endsnippet

snippet cb "code block"
@code $1
${VISUAL}$2
@end
$0
endsnippet
