snippet ta "type any"
TSFixMe
endsnippet

snippet ts "string"
string
endsnippet

snippet tb "boolean"
boolean
endsnippet

snippet tn "number"
number
endsnippet

snippet gtp "generic Promise"
Promise<${VISUAL}$0>
endsnippet

snippet tje "jsx component"
JSX.Element
endsnippet

snippet vucb "useCallback"
useCallback(${VISUAL}, [$0])
endsnippet
